* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.container {
    width: 1480px;
    background: linear-gradient(to bottom, rgb(6, 104, 157) , rgb(172, 213, 243)); 
    background-clip: padding-box, border-box;
    margin: 0 auto;
    height: 50vh;
}

.menu {
    width: 1400px;
    padding: 20px;
    border-bottom: 1px solid;
    border-color: rgb(3, 82, 104);
}

.logo {
    margin-left: 60px;
}

.logo h2 > a {
    color: rgb(249, 245, 245);
    text-decoration: none;
    transition: all;
    font-family: 'Nunito Sans', sans-serif;
}

.header_nav ul > li {
   list-style: none;
}

 .header_section {
    clear: both;
    width: 1200px;
    margin: 40px 20px 40px 80px;
    color: rgb(255, 255, 255);

 }

.header_nav ul li > a{
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(249, 245, 245);
    font-family: 'Nunito Sans', sans-serif;
}

.header_nav ul li:hover {
   background-color:rgb(5, 81, 104);
}

.logo h2 > a:hover {
    opacity: 0.8;
}

.section_bottom img {
    width: 120px;
    height: 50px;
    padding: 20px 0 40px 0;
}


.img_div img {
    width: 300px;
    height: 120px;
    border: 5px solid;
    border-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.item4 {
    float: right;
    width: 300px;
    margin-left: 65px;
}

.item3 {
    float: right;
    width: 300px;
    margin-left: 65px;
}

.item2 {
    float: right;
    width: 300px;
    margin-left: 65px;
}

.item1 {
    float: right;
    width: 300px;
    margin-left: 65px;
}

footer {
    clear: both;
    padding: 50px 0 0 80px;
    color: rgb(3, 82, 104);
}

footer a{
    color: rgb(3, 82, 104);
}


.menu-item5 {
    float: right;
}

.menu-item4 {
    float: right;
}

.menu-item3 {
    float: right;
}

.menu-item2 {
    float: right;
}

.menu-item1 {
    float: right;
}

.section_div_item1 {
    float: left;
    width: 600px;
}

.img_div {
    float: right;
    width: 500px;
}

.section_bottom p > a {
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid;
}

.section_bottom a {
    color: rgb(3, 82, 104);
    font-weight: bolder;
}

.section_bottom h4 {
    color: rgb(3, 82, 104);
}